.iosver {
top:-1px
}

.prerequisite p {
    text-align:center
}

fieldset > a[href] {
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-tap-highlight-color:transparent
}

* {
border:0;-webkit-border-radius:0;
-moz-border-radius:0;
-ms-border-radius:0;
-o-border-radius:0;
border-radius:0;
color:inherit;
font-family:inherit;
font-size:inherit;
font-style:inherit;
font-weight:inherit;
margin:0;
outline:0;
padding:0;
text-decoration:none;
vertical-align:baseline
}

.clearfix:after, fieldset > a > div > div:after {
content:".";
display:block;
clear:both;
visibility:hidden;
line-height:0;
height:0
}

.clearfix, fieldset > a > div > div {
display:block
}

img {
-ms-interpolation-mode:bicubic;
image-rendering:auto;
}

strong {
font-weight:bold
}

em {
font-style:italic
}

sup {
font-size:smaller;
position:relative;
top:-6px;
margin-top:-6px
}

body {
background-color:#efeff4;
font-family:Helvetica Neue, Arial;
-webkit-text-size-adjust:none;
-webkit-touch-callout:none;
-webkit-user-select:none;
max-width:414px;
margin:0 auto
}

body.white {
background-color:#fff
}

body.nolegacy {
margin:35px auto;
background-color:#efeff4;
}

panel {
display:block;
margin:0 auto
}

panel.depiction {
margin:35px auto
}

panel.depiction > fieldset > div > p {
text-align:left;
margin-left:3px
}

panel > fieldset {
display:block;
background-color:#fff;
margin:0 0 35px 0;
border:1px solid #d5d4d8;
font-size:16px;
position:relative;
max-width:414px
}

/* iPhone 5/c/s */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {panel > fieldset {border-left:0;border-right:0;}}
/* iPhone 6 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {panel > fieldset {border-left:0;border-right:0;}}
/* iPhone 6 Plus */
@media only screen and (min-device-width : 540px) and (max-device-width : 960px) and (orientation : portrait) {panel > fieldset {border-left:0;border-right:0;}}
/* iPad 1/2 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) {panel > fieldset {border-left:1px solid #d5d4d8;border-right:1px solid #d5d4d8;}}
/* iPad 3/4 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) {panel > fieldset {border-left:1px solid #d5d4d8;border-right:1px solid #d5d4d8;}}

panel > label {
display:block;
margin:9px 5px 6px 5px;
position:relative;
top:0;
padding-left:11px;
color:#6d6d72;
font-size:14px;
text-transform: uppercase;
}

panel > footer {
display: block;
margin: 9px;
color: #4d4d70;
font-size: 12px;
text-align: center
}

fieldset {
clear:both
}

fieldset.more {
clear:none;
border-left:1px solid #d5d4d8
}

fieldset > div a {
color:#007aff
}

fieldset > div > p {
text-align:left
}

fieldset > div > ul {
list-style-position:inside
}

fieldset > div > hr {
border-top:1px dashed #d5d4d8
}

fieldset > a, fieldset > div, fieldset > textarea {
display:block;
position:relative
}

panel > fieldset > a, panel > fieldset > div {
border-bottom:1px solid #d5d4d8;
}

fieldset > a:last-child, fieldset > a.left:nth-last-child(2), fieldset > div:last-child, fieldset > div.left:nth-last-child(2), fieldset > textarea:last-child, fieldset > textarea.left:nth-last-child(2) {
border-bottom:0
}

fieldset > a > img.icon, fieldset>a>label.emoji-icon {
height:auto;
max-height:30px;
width:30px;
min-width:30px;
margin:7px 15px;
text-align:center;
}

fieldset > a > div {
margin-left:14px
}

fieldset > a > img.icon+div {
margin-left:60px
}

fieldset > a > img.icon+div>div {
min-height: 20px
}

fieldset > a > div > div {
padding:12px 14px 12px 0
}

fieldset > div, panel > block {
font-size:16px;
padding:0 13px
}

fieldset > div > *, panel > block > * {
margin-top:9px;
margin-bottom:9px
}

fieldset > a > div > div > label > p {
display:inline;
text-rendering:optimizeLegibility
}

fieldset > a > div {
padding-right:14px
}

fieldset > a > div > div > select, fieldset > a[href] > div > div {
background-image:url('chevron78.png');
background-position:right center;
background-repeat:no-repeat;
padding-right:24px;
-webkit-background-size:8px 12.5px;
background-size:8px 12.5px
}

@media screen and (-webkit-min-device-pixel-ratio: 2){

fieldset > a > div > div > select, fieldset > a[href] > div > div {
background-image:url('chevron78.png')
}

}