.prerequisite p {
    text-align:center
}

.header {
    margin: 10px;
    padding: 4px 13px
}

.header>img {
    float: left;
    margin: 0 0 10px
}

.header>div {
    margin: 7px 0 0 12px;
    float: left
}

.header h1 {
    font-size: 22px
}

.header h2 {
    font-size: 17px
}

fieldset > div {
-webkit-user-select:text;
user-select:text;
-moz-user-select:element;
-ms-user-select:element;
user-select:element
}

fieldset > a[href] {
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-tap-highlight-color:transparent
}

* {
border:0;-webkit-border-radius:0;
-moz-border-radius:0;
-ms-border-radius:0;
-o-border-radius:0;
border-radius:0;
color:inherit;
font-family:inherit;
font-size:inherit;
font-style:inherit;
font-weight:inherit;
margin:0;
outline:0;
padding:0;
text-decoration:none;
vertical-align:baseline;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}

.clearfix:after, fieldset > a > div > div:after {
content:".";
display:block;
clear:both;
visibility:hidden;
line-height:0;
height:0
}

.clearfix, fieldset > a > div > div {
display:block
}

img {
-ms-interpolation-mode:bicubic;
image-rendering:auto;
}

strong {
font-weight:bold
}

em {
font-style:italic
}

sup {
font-size:smaller;
position:relative;
top:-6px;
margin-top:-6px
}

pre {
font-family:monospace
}

body {
font-family:Helvetica,Arial;
-webkit-text-size-adjust:none;
-webkit-touch-callout:none;
-webkit-user-select:none;
width:320px;
margin:0 auto
}

body.white {
background-color:#fff
}

body.pinstripe {
background:#c7ced5 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAIAAACdaSOZAAAAFElEQVQIHWM4euYKErp0+tINIAIAuHQQ4rDrv5YAAAAASUVORK5CYII=')
}

.default {
color:#aab
}

panel {
display:block;
margin:0 auto
}

panel > fieldset {
display:block;
background-color:#fff;
border:1px solid #999;
-webkit-border-radius:9px;
-moz-border-radius:9px;
-ms-border-radius:9px;
-o-border-radius:9px;
border-radius:9px;
margin:9px;
font-size:16px;
position:relative;
max-width:302px
}

panel > label {
display:block;
margin:9px;
position:relative;
top:4px;
padding-left:11px;
color:#4d4d70;
text-shadow:rgba(255,255,255,0.75) 1px 1px 0;
font-weight:bold
}

panel > footer {
display:block;
margin:9px;
color:#4d4d70;
font-size:12px;
text-align:center
}

panel > iframe {
display:block;
margin:-9px 0
}

panel > iframe:first-child, panel > iframe+iframe {
margin-top:0
}

fieldset > div {
font-size:16px;
padding:0 13px
}

fieldset > div > * {
margin-top:9px;
margin-bottom:9px
}

fieldset > div > ul {
list-style-position:inside
}

fieldset > div > hr {
border-top:1px dashed #999
}

fieldset > div a, panel > block a {
color:blue
}

fieldset > a, fieldset > div, fieldset > textarea {
display:block;
position:relative
}

panel > fieldset > a, panel > fieldset > div, panel > fieldset > textarea {
border-bottom:1px solid #999
}

fieldset > a:last-child, fieldset > a.left:nth-last-child(2), fieldset > div:last-child, fieldset > div.left:nth-last-child(2), fieldset > textarea:last-child, fieldset > textarea.left:nth-last-child(2) {
border-bottom:0
}

panel > fieldset > a:first-child, panel > fieldset > div:first-child, panel > fieldset > textarea:first-child {
-moz-border-radius-topleft:8px;
-webkit-border-top-left-radius:8px;
border-top-left-radius:8px;
-moz-border-radius-topright:8px;
-webkit-border-top-right-radius:8px;
border-top-right-radius:8px
}

panel>fieldset>a.left:first-child,panel>fieldset>div.left:first-child,panel>fieldset>textarea.left:first-child{-moz-border-radius-topright:0;-webkit-border-top-right-radius:0;border-top-right-radius:0}

panel>fieldset>a.right:nth-child(2),panel>fieldset>div.right:nth-child(2),panel>fieldset>textarea.right:nth-child(2){-moz-border-radius-topright:8px;-webkit-border-top-right-radius:8px;border-top-right-radius:8px}

panel>fieldset>a:last-child,panel>fieldset>div:last-child,panel>fieldset>textarea:last-child{-moz-border-radius-bottomleft:8px;-webkit-border-bottom-left-radius:8px;border-bottom-left-radius:8px;-moz-border-radius-bottomright:8px;-webkit-border-bottom-right-radius:8px;border-bottom-right-radius:8px}

panel>fieldset>a.left:nth-last-child(2),panel>fieldset>div.left:nth-last-child(2),panel>fieldset>textarea.left:nth-last-child(2){-moz-border-radius-bottomleft:8px;-webkit-border-bottom-left-radius:8px;border-bottom-left-radius:8px}

panel>fieldset>a.right:last-child,panel>fieldset>div.right:last-child,panel>fieldset>textarea.right:last-child{-moz-border-radius-bottomleft:0;-webkit-border-bottom-left-radius:0;border-bottom-left-radius:0}

fieldset>a>div>div>label>p{display:inline;text-rendering:optimizeLegibility}

fieldset>a>div>div>label:first-child{font-weight:bold}

fieldset>a>span.extra{position:absolute;-moz-border-radius-bottomleft:7px;-webkit-border-bottom-left-radius:7px;border-bottom-left-radius:7px;padding:0.2em 0.4em;background-color:#999;color:#fff;font-size:12px;font-weight:bold}

panel>fieldset>a>span.extra{top:-1px;right:-1px}

fieldset>a>span.badge{position:absolute;bottom:0px;right:0px;-moz-border-radius-topleft:7px;-webkit-border-top-left-radius:7px;border-top-left-radius:7px;padding:0.2em 0.4em;background-color:#da0812;color:#fff;font-size:11px;font-weight:bold}

panel>fieldset>a:first-child>span.extra{-moz-border-radius-topright:9px;-webkit-border-top-right-radius:9px;border-top-right-radius:9px}

panel>fieldset>a:last-child>span.badge{-moz-border-radius-bottomright:8px;-webkit-border-bottom-right-radius:8px;border-bottom-right-radius:8px}

fieldset{clear:both}

fieldset.more{clear:none;margin-right:9px}

fieldset.half>a>div>div label,fieldset.more>a>div>div label{margin-right:-10px}

fieldset>a{color:black;font-weight:bold;}

fieldset>a>img.icon, fieldset>a>label.emoji-icon{height:auto;max-height:30px;width:30px;min-width:30px;margin:5px;text-align:center;}

fieldset>a>div>div>input[type="checkbox"]{margin-right:-4px;border:1px solid #999;-webkit-border-radius:7px;-moz-border-radius:7px;-ms-border-radius:7px;-o-border-radius:7px;border-radius:7px;float:right;height:1.25em;width:1.25em}

fieldset>a>div>div>input[type="checkbox"]:checked{background-color:#000}

fieldset>a>div>div>input[type="password"],fieldset>a>div>div>input[type="text"]{float:right;text-align:right}

fieldset>a>div>div>select{background-color:transparent;text-align:right;direction:rtl;float:right;min-width:100px;text-indent:0.01px;text-overflow:""}

fieldset>a>div>div>select::-ms-expand{display:none}

fieldset>a>div>div>select>option{direction:ltr}

fieldset>textarea{padding:10px;width:100%;min-width:300px}

fieldset>textarea.left,fieldset>textarea.right{min-width:150px}

fieldset>div>p{margin-left:-0.0625em;margin-right:-0.0625em}